
<ejs-sidebar id="default-sidebar">
  <div class="px-6">
    <a href="#" class="px-6 py-2">Home</a>
    <a href="/users" class="px-6 py-2">Users</a>
  </div>
</ejs-sidebar>
<div class="container min-h-full">
  <div class="header mt-10">
    <header class="bg-white">
      <nav class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8">
        <div class="flex lg:flex-1">
          <a href="#" class="-m-1.5 p-1.5">
            <span>Alan Morano</span>
          </a>
        </div>
      </nav>
    </header>
  </div>
  <div class="main-content">
    <router-outlet />
  </div>
  <div class="footer static min-h-3">
    <div class="absolute inset-x-0 bottom-0">
      Alan's Angular technical test for Battleground.
    </div>
  </div>
</div>

